body{
    background-image: url(imagens/GOHRBuFbUAA6ifJ.jpeg);
    background-position: center;
            

    background-size: cover;
    
   
    background-repeat: no-repeat;
    background-attachment: fixed; 


}